<!DOCTYPE html>
<html lang='en' dir='ltr'>
 <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <meta charset='utf-8'>
     <title></title>
 </head>
 <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">Charlie's Mazes</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"> Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'styles' %}">Styles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'generate' %}">Generate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'download' %}">Download</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Styles
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'styles' %}">All Styles</a>
                  <a class="dropdown-item" href="{% url '1/' %}">Aldous-Broder</a>
                  <a class="dropdown-item" href="{% url '2/' %}">Backtracking</a>
                  <a class="dropdown-item" href="{% url '3/' %}">Binary-Tree</a>
                  <a class="dropdown-item" href="{% url '4/' %}">Cellular Automation</a>
                  <a class="dropdown-item" href="{% url '5/' %}">Dungeon Rooms</a>
                  <a class="dropdown-item" href="{% url '6/' %}">Ellers</a>
                  <a class="dropdown-item" href="{% url '7/' %}">Growing-Tree</a>
                  <a class="dropdown-item" href="{% url '8/' %}">Hunt-and-Kill</a>
                  <a class="dropdown-item" href="{% url '9/' %}">Kruskals'</a>
                  <a class="dropdown-item" href="{% url '10/' %}">Prims</a>
                  <a class="dropdown-item" href="{% url '11/' %}">Recursive Division</a>
                  <a class="dropdown-item" href="{% url '12/' %}">Sidewinder</a>
                  <a class="dropdown-item" href="{% url '13/' %}">Wilsons</a>







                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"></a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">
      {% block content %}
      
      {% endblock %}
      </div>
 </body>
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>      
</html>