{% extends 'mazes/base.html' %}

{% block content %}
    <br>
    <br>
     <h1>Charlie's Mazes</h1>
    <br>
      <div class="row no-gutters">
        <div class="col-6 col-md-4">
                      <img src="static/images/Ellers.png" alt="">
          </div>
          <div class="col-sm-6 col-md-8">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4"></h1>
                  <p class="lead" style="font-size: 200%;">Welcome to Charlie's Mazes, this is the homepage. Take a look around my website and you'll discover that mazes can be made using a wide array of alogorithms!<br>
                            
                <br>
              </div>
                </p>
              </div>
                          
            </div>  
          </div>
        </div>
      <div class="">
                  
          
      </div>
{% endblock %}